MLS_APP_NAME="Maquetador MLS"
MLS_WORKSPACES_DIR="../workspaces"
MLS_DELIVERIES_DIR="../deliveries"
MLS_MAQUETADOR_URL="http://172.22.104.76:8087/"
MLS_PLAYWRIGHT_HEADLESS="false"
MLS_DRY_RUN="false"
MLS_AI_REVIEW_ENABLED="false"
MLS_AI_REVIEW_ENDPOINT="http://localhost:11434/api/generate"
MLS_AI_REVIEW_MODEL="llama3.2:3b"
MLS_AI_REVIEW_TIMEOUT_SECONDS="20"
